.triangle-left-side {
    width: 700px;
    height: 100vh;
    position: absolute;
    background-color: rgba(109, 254, 57, 0.41);
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    justify-self:end;
    left: 0;
}

body, #root {
    min-height: 100vh;
}

.car-view {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.view-nav {
    border-bottom: 2px solid var(--green);
}

.view-nav > .left-side-nav >  h1 {
    color: var(--green);
    font-weight: 100;
    font-size: 36px;
    margin: 15px;
}

.view-nav > .right-side-nav > button {
    color: var(--green);
    font-size: 28px;
    font-weight: 100;
}

.green-ball-view {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(109, 254, 57, 0.237);
    position: absolute;
}

.ball1 {
    left: 50%;
    top: 20%;
    transform: scale(0.7);
}

.ball2 {
    left: 75%;
    top: 40%;
    transform: scale(0.9);
}

.ball3 {
    left: 30%;
    top: 60%;
    transform: scale(0.8);
}

.car-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 800px;
    z-index: 10;
}



.car-view-car {
    width: 400px;
}

.view-arrow {
    background-color: var(--green);
}
