.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.progres-line {
    height: 3px;
    width: clamp(70px, 10vw, 150px);
    background-color: black;
}

.progress-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-out-progress {
    border: 3px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    user-select: none;
}

.check-out-progress:hover {
    transform: scale(1.2);
}

#filled-out {
    background-color: black;
    color: white;
}

.progress-info {
    position: absolute;
    width: 120px;
    text-align: center;
    margin-top: 90px;
}

.check-out-page {
    display: flex;
    min-height: 100vh;
    background-color: #D9D9D9;
}

.left-side-checkout {
    flex: 2;
    background-color: white;
}

.right-side-checkout {
    flex: 1;
    display: flex;
   justify-content: center;
}


.info-box-checkout {
    width: 80%;
    height: 40%;
    background-color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-info {
    width: 75%
}

.price-info > h3 {
    margin-left: 0px;
}

.payment-information,
.delivery-information,
.confirm-info {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.confirm-info {
    align-items: flex-start;
    gap: 10px;
    width: 500px
}

.confirm-info > h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

.edit-info {
    font-size: 22px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    user-select: none;
    transition: all 0.2s linear;
}

.edit-info:hover {
    color: white;
    background-color: black;
}

.current-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-info-card,
.address-lines,
.city-state {
    display: flex;
    gap: 50px;
}

.payment-info-label, .address-info-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment-info-label > label,
.address-info-label > label {
    font-size: 20px;
}

.next-info {
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
    color: black;
    width: 80px;
    height: 50px;
    box-shadow: 0px 2px 2px 2px rgb(255, 255, 255);
}

.payment-info-label > input,
.address-info-label > input {
    font-size: 18px;
    border: 1px solid black;
}

.delivery-information {
    margin-top: 100px;
}
